


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{

    float: right;
}

li a{
   text-decoration: none;
   display: block;
   text-align: center;
   padding: 14px 16px;
   background-color: #ffffff;
   transition: 0.5s;
   color: #111;
}

li a:hover {
    background-color: #111;
    color: white;
  }

h1{
    font-family: Arial, Helvetica, sans-serif;
}

.r{
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s;
}
.r:hover{
    color: white;
    background-color: #111;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
  
    border-radius: 50px;
}
h1{

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
img{
    align-content: center;
}
a{
    text-decoration: none;
    color: #111;
    transition: 0.5s;
}
a:hover{
    color: cornflowerblue;
    background-color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .image{
    transition: 0.5s;
  }

  .image:hover{
    width: 300px;
    height: auto;
  }

  .Cont{
    background-color: white;
    color: black;
    transition: 0.5s;
    margin: 0;
    padding: 0;
  }

  .Cont:hover{
    background-color: rgba(201, 255, 255, 0.692);
    color: rgb(0, 0, 0);
    
  }

  body{
    font-family: Arial, Helvetica, sans-serif;
  }
  form{
    size: 1000px;
    font-size: 10px;
  }
.frm{
  background-color: #111;
  color: white;
  transition: 0.5s;
  font-size: 20px;
  border-bottom-style: dashed;
  border-bottom-width: 3px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
}
.frm:hover{
  background-color: rgba(71, 189, 243, 0.856);
  color: white;
  border-color: orange;
  border-bottom-width: 3px;
  border-bottom-style: groove;
}

